# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# Raw data folder
rawdata

# Genome folder
bostaurus

# Log files
log

# Standard output files
out*

# Quality control files
fastqc
fastqc_trimmed
fastqc_aligned

# Trimming files
trim_galore

# Alignment files
bismark

# Temp files
*~
tmp_bismark
