# Mac
.DS_Store

# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# Raw data folder
rawdata

# Genome folder
bostaurus

# Log files
log

# Standard output files
out*

# Quality control files
fastqc_raw
fastqc_merged
fastqc_trimmed
fastqc_aligned
fastqc_deduplicated

# Trimming files
trimgalore

# Alignment files
bismark

# Extracted methylation calls
extract
extract_refined

# Bismark reports
reports_bismark

# R analyses
bsseq

# SeqMonk analyses
seqmonk_project

# IGV sessions
IGV_session

# Temp files
*~
tmp_bismark
tmp_picard
.Rproj.user
*.Rproj
