# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# Raw data folder
rawdata

# Log files
log

# Quality control files
fastqc

# Standard output files
out*

# Temp files
*~
